@import "./variables.scss";

@mixin carousel-btn($background) {
  background-color: $background;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

@mixin sticker($background, $width, $height, $padding, $top, $right) {
  background-color: $background;
  width: $width;
  height: $height;
  padding-left: $padding;
  top: $top;
  right: $right;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
  padding: 20px;
  position: absolute;
  cursor: pointer;
}

@mixin card-button($color, $border) {
  color: $color;
  border: $border;
  font-weight: 700;
  width: 176px;
  height: 45px;
  text-transform: uppercase;
  cursor: pointer;
}
