@import "./header.scss";
@import "./carousel.scss";
@import "./content.scss";

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font-family;
  font-size: 10px;
  color: $color-primary;
}

main {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

.load-btn-wrapper {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 74px;

  .load-btn {
    @include card-button($color-btn-primary, $border-btn-primary);
  }
}
